{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}
<h1 class="text-center">Edit Profile</h1>

<div class="w-50 mx-auto">
  <form class="w-50 mx-auto" action="" method="post" novalidate>
    {% if form.non_field_errors %} {% for error in form.non_field_errors %}
    <div class="text-center text-danger fs-5 my-3 fw-semibold">{{error}}</div>
    {% endfor %} {% endif %} {% csrf_token %}
    <!-- {{form|crispy}} -->
    {% for field in form %} {{field.label_tag}} {{field}}
    <p class="text-danger">{{field.errors|striptags}}</p>
    {% endfor %}
    <br />
    <button class="btn btn-primary" type="submit">Change</button>
    <br />
  </form>
</div>

{% endblock %}
